In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from matplotlib import pyplot as plt
%matplotlib inline

**LOAD BANK DATA**

In [2]:
data = pd.read_csv("/content/sample_data/Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

**DROPING UN-WANTED ROWS FROM DATA**

In [4]:
data.drop(['RowNumber','CustomerId','Surname'],axis='columns',inplace=True)

In [5]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

**REPLACING GENDER LABES WITH VALUES**

In [6]:
data.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [7]:
data = pd.get_dummies(data=data , columns=['Gender'])

**REPLACING GEOGRAPHY LABELS WITH VALUES BY USING DUMMIES METHOD**

In [8]:
data.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [9]:
data = pd.get_dummies(data=data , columns=['Geography'])

In [10]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,1,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,1,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,1,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0,0,0,1

In [11]:
data.dtypes

CreditScore            int64
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Exited                 int64
Gender_Female          uint8
Gender_Male            uint8
Geography_France       uint8
Geography_Germany      uint8
Geography_Spain        uint8
dtype: object

**BELOW COLUMNS ARE NEED TO SCALE OTHER COLUMNS CONTAIN 0/1**

In [12]:
columns_to_scale = ['CreditScore','Age','Tenure','Balance','EstimatedSalary']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data[columns_to_scale] = scaler.fit_transform(data[columns_to_scale])

In [13]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
0,0.538,0.324324,0.2,0.000000,1,1,1,0.506735,1,1,0,1,0,0
1,0.516,0.310811,0.1,0.334031,1,0,1,0.562709,0,1,0,0,0,1
2,0.304,0.324324,0.8,0.636357,3,1,0,0.569654,1,1,0,1,0,0
3,0.698,0.283784,0.1,0.000000,2,0,0,0.469120,0,1,0,1,0,0
4,1.000,0.337838,0.2,0.500246,1,1,1,0.395400,0,1,0,0,0,1

**NOW DATA IS IN REQUIRED FORMAT. LET US MAKE INPUT AND OUTPUT COLUMNS SEPARATE**

In [14]:
x= data.drop(['Exited'] , axis='columns')

In [15]:
y = data.Exited

In [16]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
0,0.538,0.324324,0.2,0.000000,1,1,1,0.506735,1,0,1,0,0
1,0.516,0.310811,0.1,0.334031,1,0,1,0.562709,1,0,0,0,1
2,0.304,0.324324,0.8,0.636357,3,1,0,0.569654,1,0,1,0,0
3,0.698,0.283784,0.1,0.000000,2,0,0,0.469120,1,0,1,0,0
4,1.000,0.337838,0.2,0.500246,1,1,1,0.395400,1,0,0,0,1

In [17]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

**SPLIT DATA INTO TRAINING DATA & TESTING DATA**

In [18]:
from sklearn.model_selection import train_test_split
x_train , x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

**CREATE A NEURAL NETWORK MODEL**

In [19]:
x_train.shape

(8000, 13)

In [23]:
model = keras.Sequential([
        keras.layers.Dense(10, input_shape = (13,) , activation='relu'),
        keras.layers.Dense(5, activation='relu'),
        keras.layers.Dense(3, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid'),

])

model.compile(
    optimizer = 'adam' ,
    loss = 'binary_crossentropy',
    metrics = ['accuracy']
)

model.fit(x_train, y_train , epochs = 5)

Epoch 1/5
250/250 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7896
Epoch 2/5
250/250 [==============================] - 1s 2ms/step - loss: 0.4813 - accuracy: 0.7962
Epoch 3/5
250/250 [==============================] - 0s 2ms/step - loss: 0.4593 - accuracy: 0.7969
Epoch 4/5
250/250 [==============================] - 0s 2ms/step - loss: 0.4473 - accuracy: 0.7984
Epoch 5/5
250/250 [==============================] - 0s 2ms/step - loss: 0.4360 - accuracy: 0.8090

**CHECK ACCURACY LEVEL**

In [24]:
model.evaluate(x_test , y_test)

63/63 [==============================] - 0s 1ms/step - loss: 0.4259 - accuracy: 0.8210

[0.4259231388568878, 0.8209999799728394]